@model ServiceDesk.Models.Request

<section class="content-header">
    <h1>
        New User - Liam Carmichael
        <small>Ticket #KP78451</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Tickets</a></li>
        <li class="active">Ticket Detail</li>
    </ol>
</section>

<div class="col-md-6">
    <div class="box-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.RequestLinkID)
            </dt>

            <dd class="text-muted">
                @Html.DisplayFor(model => model.RequestLinkID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd class="text-muted">
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd class="text-muted">
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subcategory)
            </dt>

            <dd class="text-muted">
                @Html.DisplayFor(model => model.Subcategory)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AssignedTo)
            </dt>

            <dd class="text-muted">
                @Html.DisplayFor(model => model.AssignedTo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Requester)
            </dt>

            <dd class="text-muted">
                @Html.DisplayFor(model => model.Requester)
            </dd>

        </dl>
    </div>
    </div>

<div class="col-md-6">
<div class="box">
    <div class="box-header">
        <h3 class="box-title">Tasks</h3>
        <div class="box-tools">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <table class="table">
            <tr>
                <th style="width: 10px">#</th>
                <th>Task</th>
                <th>Progress</th>
                <th style="width: 40px">Label</th>
            </tr>
            <tr>
                <td>1.</td>
                <td>Create New AD User</td>
                <td>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                    </div>
                </td>
                <td><span class="badge bg-danger">100%</span></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Group Management Access</td>
                <td>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
                    </div>
                </td>
                <td><span class="badge bg-yellow">70%</span></td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Presence Access</td>
                <td>
                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-primary" style="width: 30%"></div>
                    </div>
                </td>
                <td><span class="badge bg-light-blue">30%</span></td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Phone Programming</td>
                <td>
                    <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-success" style="width: 90%"></div>
                    </div>
                </td>
                <td><span class="badge bg-green">90%</span></td>
            </tr>
        </table>
    </div>
    <!-- /.box-body -->
</div>
    </div>

<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <!-- timeline time label -->
                <li class="time-label">
                    <span class="bg-red">
                        10 Feb. 2014
                    </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an reply</h3>
                        <div class="timeline-body">
                            Good day Royal customer,

                            Thank you for your enquiry. Please note that we have received your request and we are busy attending to it.
                            Please note that based on your enquiry type that it can take up to 1 working day(s) for us to provide you with a solution.

                            Royal Regards,
                            KP Service Desk
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs">Read more</a>
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <li>
                    <i class="fa fa-envelope bg-blue"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 12:15</span>
                        <h3 class="timeline-header"><a href="#">Support Team</a> sent you an reply</h3>
                        <div class="timeline-body">
                            Good day Royal customer,

                            Thank you for your patience. Please note your request has been assigned to a technician for further investigation.
                            If you would like to follow up on your request please reply on this ticket and the technician will be able to assist
                            you with further feedback until the resolution has been established

                            Royal Regards,
                            KP Service Desk
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-primary btn-xs">Read more</a>
                        </div>
                    </div>
                </li>
                <!-- timeline item -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-camera bg-purple"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>
                        <h3 class="timeline-header"><a href="#">Sarah Young</a> uploaded new photos</h3>
                        <div class="timeline-body">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                            <img src="http://placehold.it/150x100" alt="..." class="margin">
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <li>
                    <i class="fa fa-user bg-aqua"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>
                        <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> has replied</h3>
                        <div class="timeline-body">
                            Hi there,

                            A technician was here to assist and I am now able to proceed. Thank you for your assistance!!
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <li>
                    <i class="fa fa-comments bg-yellow"></i>
                    <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> 2 mins ago</span>
                        <h3 class="timeline-header"><a href="#">Jay White</a> commented on this request</h3>
                        <div class="timeline-body">
                            Thank you for your assistance.
                            My consultant is now able to proceed again
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                        </div>
                    </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline time label -->
                <li class="time-label">
                    <span class="bg-green">
                        3 Jan. 2014
                    </span>
                </li>
                <!-- /.timeline-label -->

                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script>
  $(function () {
    $('#ticketstable').DataTable()
  })
</script>